.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-surface-color);
    color: var(--text-default-color);
    /* flex-grow: 1; */
    align-items: center;

}
.nav-items{ 

    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
.logo-image img{
    height: 100px;
    width: auto;
}